<div class="check-box">
    <input type="checkbox" name='{{name}}'  value='{{value}}' id="{{id}}" class="check-input" {{#if checked}}checked{{/if}}>
    <label for="{{id}}" class="check-label">{{label}}</label>
</div>